[package]
name = "montana-tui-common"
description = "Common TUI utilities for Montana binaries"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
ratatui.workspace = true
